<div *ngIf="messageShow" [ngClass]="messageClass">
  <i class="fa fa-spinner fa-pulse fa-fw"></i>&nbsp;&nbsp;&nbsp;{{ message }}
</div>

<h1>
  <strong>Identificarse:</strong>
</h1>
<hr>
<p class="lead">Usa tus credenciales de <code>www.themoviedb.org</code> para iniciar tu sesión.
  <br> Para poder puntuar las películas que desees, sigue las instrucciones:</p>

<ul class="list-group border-0 lead mb-3">
  <li class="list-group-item border-0"><strong>1.</strong>&nbsp;&nbsp;&nbsp;Da click en el botón "Identificarse" de abajo.</li>
  <li class="list-group-item border-0"><strong>2.</strong>&nbsp;&nbsp;&nbsp;Serás redirigido a <code>www.themoviedb.org</code>.</li>
  <li class="list-group-item border-0"><strong>3.</strong>&nbsp;&nbsp;&nbsp;Inicia sesión con tus credenciales en <code>www.themoviedb.org</code>.</li>
  <li class="list-group-item border-0"><strong>4.</strong>&nbsp;&nbsp;&nbsp;Da click en el botón "Allow".</li>
  <li class="list-group-item border-0"><strong>5.</strong>&nbsp;&nbsp;&nbsp;Serás redirigido de vuelta a Ng4TheMovieDB para finalizar el inicio de sesión.</li>
</ul>

<button [ngClass]="buttonClass" class="btn btn-primary mb-3" (click)="onClickLogIn()">
    <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Identificarse
</button>
