<div class="card footer bg-dark">
  <div class="card-body">
    <p class="card-text text-white text-muted"><a href="https://github.com/MarcioMatteucci/ng4-themoviedb" target="_blank">GitHub&nbsp;&nbsp;
        <i class="fa fa-github" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE"
        target="_blank">MIT License.</a>
    </p>
    <p class="card-text text-white text-muted">&copy; {{ today | date: 'yyyy' }}. This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
  </div>
