<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h1 class="display-4">Ng4 TheMovieDB</h1>
  <p class="lead">Aplicacion Web en <strong>Angular 4</strong> que consume la API de <strong>TheMovieDB</strong></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/search"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Buscar Películas</a>
  </p>
</div>

<!-- Las 3 Cards -->
<div class="card-group mb-10">
  <!-- Card de Angular -->
  <div class="card border-0 mb-10">
    <img class="card-img-top mx-auto d-block mt-4" src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" alt="placeholder image"
      width="140" height="140">
    <div class="card-block">
      <h4 class="card-tittle text-center"><strong>Angular 4</strong></h4>
      <p class="card-text text-center">Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
        dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular
        empowers developers to build applications that live on the web, mobile, or the desktop.</p>
    </div>
    <a href="https://angular.io/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>
  <!-- Fin Card de Angular -->

  <!-- Card de TheMovieDB API -->
  <div class="card border-0 mb-10">
    <img class="card-img-top mx-auto d-block mt-4" src="https://www.themoviedb.org/assets/static_cache/23e473036b28a59bd5dcfde9c671b1c5/images/v4/logos/312x276-primary-green.png"
      alt="Generic placeholder image" width="140" height="140">
    <div class="card-block">
      <h4 class="card-tittle text-center"><strong>TheMovieDB API</strong></h4>
      <p class="card-text text-center">The API service is for those of you interested in using our movie, TV show or actor images and/or data in your application.
        Our API is a system we provide for you and your team to programmatically fetch and use our data and/or images.</p>
    </div>
    <a href="https://developers.themoviedb.org/3/getting-started" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>
  <!-- Fin Card de TheMovieDB API -->

  <!-- Card de Bootstrap -->
  <div class="card border-0 mb-10">
    <img class="card-img-top mx-auto d-block mt-4" src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Boostrap_logo.svg"
      alt="Generic placeholder image" width="140" height="140">
    <div class="card-block">
      <h4 class="card-tittle text-center"><strong>Bootstrap 4</strong></h4>
      <p class="card-text text-center">Bootstrap is a free and open-source front-end web framework for designing websites and web applications. It contains
        HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as
        well as optional JavaScript extensions.</p>
    </div>
    <a href="https://v4-alpha.getbootstrap.com/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>
  <!-- Fin Card de Bootstrap -->
</div>
<!-- Fin de las 3 Cards -->
