<div class="jumbotron text-center mb-3" style="background-color: #DFF0D8; border-color: #DFF0D8;">
  <h1 class="display-4" style="color: #3C763D">Has sido identificado con <span><strong>Exito!</strong></span></h1>
  <p class="lead" style="color: #3C763D">Para terminar de iniciar la sesión has click en el boton de abajo.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/search" (click)="onClickLogIn()"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Iniciar Sesión</a>
  </p>
</div>
