<h1>
  <strong>Perfil:</strong>
</h1>
<p class="lead">Los datos de tu perfil en TheMovieDB</p>
<br>

<div *ngIf="isLoading" class="mt-5 text-center">
  <h2><i class="fa fa-spinner fa-pulse fa-fw"></i>&nbsp;&nbsp;&nbsp;Cargando...</h2>
</div>

<div *ngIf="!isLoading">
  <div class="card-deck">
    <div class="card col-md-2 col-lg-2 col-xl-2 border-0">
      <img class="rounded float-center" src="https://www.themoviedb.org/assets/static_cache/281f6d241d2971b514806517d5b9dd84/images/v4/logos/powered-by-square-green.svg"
        alt="Sin Imagen Disponible" width="100%" height="100%">
    </div>
    <div class="card col-md-9 col-lg-9git col-xl-9 border-0">
      <div class="card-block">
        <h2 class="card-title"><strong>Usuario:</strong> {{ user?.username }} </h2>
        <h2 class="card-text"><strong>Nombre:</strong> {{ user?.name }}</h2>
      </div>
    </div>
  </div>

  <div class="mt-5" *ngIf="hasVotedMovies">
    <h2><strong>Mis Valoraciones:</strong></h2>

    <table class="table borderless mt-3">
      <thead>
        <th>Película</th>
        <th>Valoración General</th>
        <th>Mi Valoración</th>
      </thead>
      <tbody>
        <tr *ngFor="let movie of userVotedMovies">
          <td class="align-middle">
            <h5><a routerLink="/movie/{{movie.id}}" routerLinkActive="active">{{ movie.title }}</a></h5>
          </td>
          <td class="align-middle">
            <h5>{{ movie.vote_average  | number:'1.1-1' }}</h5>
          </td>
          <td class="align-middle">
            <h5><strong>{{ movie.rating  | number:'1.1-1' }}</strong></h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-5" *ngIf="hasWatchlistMovies">
    <h2><strong>Watchlist:</strong></h2>

    <table class="table borderless mt-3">
      <thead>
        <th>Imagen</th>
        <th>Película</th>
      </thead>
      <tbody>
        <tr *ngFor="let movie of userWatchlistMovies">
          <td class="align-middle">
              <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w45{{movie.poster_path}}" width="60px" height="90px" alt="Sin imagen" >
          </td>
          <td class="align-middle">
            <h5><a routerLink="/movie/{{movie.id}}" routerLinkActive="active">{{ movie.title }}</a></h5>
          </td>         
        </tr>
      </tbody>
    </table>
  </div>
</div>
