<div *ngIf="movie">
  <div class="card-deck">
    <div *ngIf="movie.poster_path" class="card col-md-3 col-lg-3 col-xl-3 border-0">
      <img class="rounded float-center" src="http://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" alt="Sin Imagen Disponible"
        width="100%" height="100%">
      <div class="card-footer text-muted text-center border-0">
        <a href="http://image.tmdb.org/t/p/original/{{ movie.poster_path }}" target="_blank">Ver original</a>
      </div>
    </div>
    <div class="card col-md-9 col-lg-9git col-xl-9 border-0">
      <div class="card-block">
        <h1 class="card-title"><a href="https://www.themoviedb.org/movie/{{ movie.id }}" target="_blank"><strong>{{ movie.title }}</strong></a></h1>
        <h5 class="card-subtitle mb-2 text-muted">{{ movie.original_title }}</h5>
        <p class="card-text"><strong>Sinopsis:</strong> {{ movie.overview }}</p>
        <p class="card-text"><strong>Director:</strong> {{ director }}</p>
        <p class="card-text"><strong>Géneros:</strong> <span *ngFor="let genre of genres">{{ genre.name }}.&nbsp;</span></p>
        <p class="card-text"><strong>Estreno:</strong> {{ movie.release_date | date:'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="mt-5 text-center">
    <h2><i class="fa fa-spinner fa-pulse fa-fw"></i>&nbsp;&nbsp;&nbsp;Cargando...</h2>
  </div>

  <div *ngIf="!isLoading" class="row mt-5">
    <div *ngIf="authService.isLoggedIn()" class="col-lg-1 col-md-1 col-sm-1">
      <button type="button" class="btn btn-outline-primary watchlist" (click)="onClickWatchlist()">
        <h2><i class="fa fa-bookmark-o" aria-hidden="true" [style.color]="colorWatch"></i></h2>
      </button>
    </div>
    <div class="col">
      <h2><strong>Valoración General: </strong>{{ movie.vote_average }}&nbsp;<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i></h2>
    </div>
    <div *ngIf="authService.isLoggedIn() && userHasVoted" class="col">
      <h2><strong>Mi Valoración:</strong> {{ userRating }}&nbsp;<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i></h2>
    </div>
    <div *ngIf="authService.isLoggedIn() && !userHasVoted" class="col">
      <h2><strong>Aún no has valorado.</strong></h2>
    </div>
    <div *ngIf="!authService.isLoggedIn()" class="col">
      <h2><strong>Para valorar debes <a routerLink="/identify">Iniciar Sesión.</a></strong></h2>
    </div>
    <button *ngIf="authService.isLoggedIn() && userHasVoted && !volverPuntuar" type="button" class="btn btn-primary" (click)="onClickVolverPuntuar()">Cambiar Mi Valoración</button>
    <form *ngIf="(authService.isLoggedIn() && !userHasVoted) || (authService.isLoggedIn() && volverPuntuar)" class="form-inline">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger" [disabled]="minLimit" [ngClass]="btnMinusClass" (click)="onClickMinus()"><i class="fa fa-minus" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary fixed" [disabled]="sendingUserRating" (click)="onClickRate()">
          <span *ngIf="!sendingUserRating">Valorar = {{ currentValue }}</span>
          <span *ngIf="sendingUserRating"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
        </button>
        <button type="button" class="btn btn-success" [disabled]="maxLimit" [ngClass]="btnPlusClass" (click)="onClickPlus()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>


  <div class="mt-5" *ngIf="hasCrew">
    <h2><strong>Cast:</strong></h2>

    <table class="table borderless mt-3">
      <thead>
        <th>Imagen</th>
        <th>Actor</th>
        <th>Personaje</th>
      </thead>
      <tbody>
        <tr *ngFor="let cas of cast ; let i = index">
          <td *ngIf="i<11" class="align-middle"><img src="https://image.tmdb.org/t/p/w45{{ cas.profile_path }}" width="50px" height="70px" alt="Sin imagen"></td>
          <td *ngIf="i<11" class="align-middle">
            <h5>{{ cas.name }}</h5>
          </td>
          <td *ngIf="i<11" class="align-middle">
            <h5>{{ cas.character }}</h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-5" *ngIf="hasReviews">
    <h2><strong>Reviews:</strong></h2>

    <div *ngFor="let review of reviews">
      <blockquote class="blockquote">
        <p class="mb-0"><small><em>{{ review.content }}</em></small></p>
        <footer class="blockquote-footer">Escrita por <cite title="Source Title"><strong>{{ review.author }}</strong></cite></footer>
      </blockquote>
    </div>
  </div>
</div>
