<h1>
  <strong>Buscá una película o serie:</strong>
</h1>
<hr>

<p class="lead">Usa la aplicación Ng4TheMovieDB para encontrar tus películas y series favoritas <br> Accede a la base de datos de TheMovieDB</p>
<div class="btn-group bg-inverse text-white" data-toggle="buttons">
  <label class="btn active fixed focus" (click)="setOption(1)">
    <input type="radio" name="option" id="option1" [checked]="option === 1" autocomplete="off">
    <span *ngIf="option === 1"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;</span>Películas
  </label>
  <label class="btn fixed" (click)="setOption(2)">
    <input type="radio" name="option" id="option2" [checked]="option === 2" autocomplete="off">
    <span *ngIf="option === 2"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;</span>Series
  </label>
</div>

<div *ngIf="option === 1">
  <app-search-movie></app-search-movie>
</div>
<div *ngIf="option === 2">
  <app-search-tv></app-search-tv>
</div>